<header>
    <nav class="nav">
            <div class="logo">
                <img src="/imagens/logotipo.png" class="logo-img">
                <a href="/index">MMA CLUB</a>
            </div>
            <ul>
                <li><a href="/Aboutus">About us</a></li>
                <li><a href="/MobileApp">Mobile App</a></li>
                <li><a href="/contacts">Contacts</a></li>
                <li><button value="Login"><a href="/">Login</a></button></li>
            </ul>
    </nav>
</header>