<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/contacts.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/466acf7aec.js" crossorigin="anonymous"></script>
    <title>Contacts</title>
</head>
<body>
  <%- include('./partials/header.ejs') %>
  <div class="container">
    <aside class="contactos">
      <div class="telefone">
        <img src="\imagens\telefone.svg">
        <p>291 500 600</p>
        <p>+351 920 000 000</p>
      </div>
      <div class="email1">
        <i class="fa-regular fa-envelope"></i>
        <p>mmaclub@gmail.com</p>
      </div>
      <div class="morada1">
        <img src="\imagens\localização.png">
        <p>St. saint Andrew</p>
      </div>
    </aside>
    <div class="contact-us">
      <h1> Virtual Assistant</h1>
      <div class="assistant">
        <span class="fa-solid fa-headset"></span>
          <p class="respostaIa"><% if (resposta) { %>
            <%= resposta %>
            <% } %>
          </p>
      </div>
      <form action="/contacts" method="post">
        <div class="mensagem-input">
          <div class="field-text">
            <input type="textarea" id="duvida" name="duvida">
          </div>
          <div class="field-submit">
            <input type="submit" value="SUBMIT">
          </div>
        </div>
      </form>
      
    </div>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>