<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/466acf7aec.js" crossorigin="anonymous"></script>
</head>
<body>
        <%- include('./partials/header.ejs') %>

        <h1 class="titulo">TRAIN WITH US<br><span class="vermelho">UNLEASH YOUR POTENTIAL!</span></h1>

    <div class="menus"> 
        <span class="Plans">
            <a href="#">
                <img src="/imagens/box-icon.png"><br>Plans
            </a>
        </span>
        <span class="torneios">
            <a href="#">
                <img src="/imagens/trofeu.png"><br>Tournaments
            </a>
        </span>
    </div>
    <div class="container3">
        <img src="/imagens/mma treino.jpg">
        <aside class="textoprinc">
            <h3>LEARN ABOUT MMA</h3>
            <p>MMA is a combat spectacle that blends various martial arts, 
                such as boxing, jiu-jitsu, and Muay Thai. Inside the octagon, 
                fighters showcase skills and strategies in pursuit of victory. 
                Beyond competition, MMA embodies mutual respect, diversity, 
                and a passion for martial arts. It is an expression of courage and discipline,
                 where fighters strive to overcome physical and mental limits.</p>
        </aside>
    </div>
    
    <%- include('./partials/footer.ejs') %>

</body>
</html>