<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/466acf7aec.js" crossorigin="anonymous"></script>
</head>
<body>
        <header>
            <nav class="nav">
                    <div class="logo">
                        <img src="/imagens/logotipo.png" class="logo-img">
                        <a href="#">MMA CLUB</a>
                    </div>
                    <ul>
                        <li><a href="/Aboutus">About us</a></li>
                        <li><a href="/MobileApp">Mobile App</a></li>
                        <li><a href="/Contacts">Contacts</a></li>
                        <li><button value="Login">Login</button></li>
                    </ul>
            </nav>
        </header>

        <h1 class="titulo">TRAIN WITH US<br><span class="vermelho">UNLEASH YOUR POTENTIAL!</span></h1>

    <div class="menus"> 
        <span class="Plans">
            <a href="#">
                <img src="/imagens/box-icon.png"><br>Plans
            </a>
        </span>
        <span class="torneios">
            <a href="#">
                <img src="/imagens/trofeu.png"><br>tournaments
            </a>
        </span>
    </div>
    <div class="container3">
        <img src="/imagens/mma treino.jpg">
        <h1>LEARN ABOUT MMA</h1>
        <p>MMA is a combat spectacle that blends various martial arts, such as boxing, jiu-jitsu, and Muay Thai. Inside the octagon, fighters showcase skills and strategies in pursuit of victory. Beyond competition, MMA embodies mutual respect, diversity, and a passion for martial arts. It is an expression of courage and discipline, where fighters strive to overcome physical and mental limits.</p>
    </div>
    <footer>
        <h2>
            Ready for your <br><span class="vermelho">next session</span>?
        </h2>
        <div class="email">
            <i class="fa-solid fa-envelope"></i>
            <p>mmaclub@gmail.com</p>
        </div>
        <div class="morada">
            <i class="fa-solid fa-location-dot"></i>
            <p>St. saint Andrew</p>
        </div>
        <div class="redessoc">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
        </div>
        <p>Terms and Conditions</p>
    </footer>
</body>
</html>