<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container1">
        <header>
            <nav class="nav">
                <img src="/imagens/logotipo.png" class="logo"></img>
                <a href="/">MMA CLUB</a>
                <a href="/Aboutus">About us</a>
                <a href="/MobileApp">Mobile App</a>
                <a href="/Contacts">Contacts</a>
                <button value="Login">Login</button>
            </nav>
        </header>
        <img src="/imagens/backgorund-index.jpg">
        <h1>TRAIN WITH US<br><span class="vermelho">UNLEASH YOUR POTENTIAL!</span></h1>
    </div>
    <div class="menus"> 
        <img src="/imagens/box-icon.png">
        <a href="#">Plans</a>
        <img src="/imagens/trofeu.png">
        <a href="#">tournaments</a>
    </div>
    <div class="container2">
        <img src="/imagens/mma treino.jpg">
        <h1>LEARN ABOUT MMA</h1>
        <p>MMA is a combat spectacle that blends various martial arts, such as boxing, jiu-jitsu, and Muay Thai. Inside the octagon, fighters showcase skills and strategies in pursuit of victory. Beyond competition, MMA embodies mutual respect, diversity, and a passion for martial arts. It is an expression of courage and discipline, where fighters strive to overcome physical and mental limits.</p>
    </div>
    <footer>
        <h2>
            Ready for your <br><span class="vermelho">next session</span>?
        </h2>
        <p>mmaclub@gmail.com</p>
        <p>St. saint Andrew</p>
        <p>Terms and Conditions</p>
    </footer>
</body>
</html>