<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile APP</title>
    <link rel="stylesheet" href="/css/headertransparente.css">
    <link rel="stylesheet" href="/css/MobileAPP.css">
    <script src="https://kit.fontawesome.com/466acf7aec.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <div class="container">
        <img src="/imagens/mobileapp.webp" class="mobileapp">
        <div class="apps">
            <h1>Unlock the Power<br>Do you have our APP?</h1>
            <img src="/imagens/android.png">
            <img src="/imagens/Ios.png">
        </div>
    </div>
    <footer>
        <div class="redessoc">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
        </div>
        <br>
        <p>Terms and Conditions</p>
    </footer>
</body>
</html>