<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member login</title>
    <link rel="stylesheet" href="/css/TermsandConditions.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://kit.fontawesome.com/466acf7aec.js" crossorigin="anonymous"></script>
</head>
<body> 
    
    <header>
        <nav class="nav">
            <div class="logo">
                <img src="/imagens/logotipo.png" class="logo-img">
                <a href="/">MMA CLUB</a>
            </div>
            <ul>
                <li><a href="/Aboutus">About us</a></li>
                <li><a href="/MobileApp">Mobile App</a></li>
                <li><a href="/Contacts">Contacts</a></li>
                <li><button value="Login"><a href="/Login">Login</a></button></li>
            </ul>
        </nav>
    </header>
    <div class="background_image">
    </div>
    <div class="container">
        <h1>MMA CLUB - Terms and Conditions</h1>
        <p data-bold-text="1.Acceptance of Terms:"> By accessing and using this website, you agree to comply with and be bound by these Terms and Conditions. If you do not agree with any of these terms, please do not use the site</p>
        <p data-bold-text="2.Use of the Site:"> You agree to use this site only for purposes related to MMA and in accordance with all applicable laws and regulations</p>
        <p data-bold-text="3.Tournament Registrations:"> By registering for tournaments through our website, you agree to provide accurate and updated information. We reserve the right to refuse or cancel registrations at our discretion</p>
        <p data-bold-text="4.Weight Categories and Levels:"> Weight categories and skill levels for tournaments are determined by our staff. By participating, you agree to respect these categories and levels</p>
        <p data-bold-text="5.Responsibility and Insurance:"> The insurance covering injuries or damages occurring during the use of the gym or the ring is included in the monthly fees. We are not responsible for injuries, personal damages, or property losses if the athlete has not paid the monthly fees that include the insurance</p>
        <p data-bold-text="6.Intellectual Property Rights:"> All content on the site, including text, images, videos, and logos, is the exclusive property of MMA CLUB and is protected by intellectual property laws</p>
        <p data-bold-text="7.Tournament Cancellations:"> We reserve the right to cancel or modify tournaments for various reasons, including but not limited to safety concerns, lack of participation, or unforeseen circumstances</p>
        <p data-bold-text="8.Changes to Terms:"> We reserve the right to change these Terms and Conditions at any time. Changes will become effective immediately upon their publication on the site. It is your responsibility to regularly check the Terms and Conditions to be aware of any changes</p>
        <p data-bold-text="9.Contact:"> For questions related to these Terms and Conditions, please contact us through the provided contact information on the site</p>
    </div>
    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <h2>
                    Ready for your <br><span class="red">next session</span>?
                </h2>
            </div>
            <div class="footer-center">
                <div class="email">
                    <i class="fa-solid fa-envelope"></i> mmaclub@gmail.com
                </div>
                <div class="morada">
                    <i class="fa-solid fa-location-dot"></i> St. saint Andrew
                </div>
            </div>
            <div class="footer-right">
                <div class="redessoc">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-x-twitter"></i>
                </div>
                <ul>
                    <li><a href="/TermsandConditions">Terms and Conditions</a></li>
                </ul>
            </div>
        </div>
    </footer>
    

</body>
</html> 