@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');

header{
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.5);
    position: relative;
}
.nav{
    width: 100%;
    background-color: black;
    padding:20px 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins',sans-serif;
}

.logo-img{
    margin-bottom: -8px;
}

.logo a{
    color:white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
}


li{
    display: inline-block;
    margin-right: 20px;
}

li a{
    color:white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 300 ;
}



li >a:hover{
    border-bottom: 2px solid white;
}



li button{
    width: 100px;
    font-size:18px;
    color:white;
    padding:10px;
    background-color:#BF0000;
    outline: none;
    border:2px solid black;
    border-radius: 8px;
    cursor: pointer;
}