@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow: hidden;
}

.logo{
    width: 35px;
    height:30px;
    margin-top: 35px;
    margin-left: 325px;
}

.nav{
    position: relative;
    z-index: 999;
    background-color: transparent;
    height:auto;
    display: flex;
}

.nav a{
    margin-top: 40px;
    font-size: 17px;
    color: white;
    font-family: 'Montserrat' ,sans-serif;
    text-decoration:none;
    font-weight: bold;
}

.background_image{
    background: url('../imagens/background-login.webp');
    height:100vh;
    background-size: cover;
    background-position: center;
}

.background_image:after{
    position: absolute;
    content:'';
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: rgba(0,0,0,0.7);
}

.container{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
    width:400px;
    text-align: center;
    padding: 60px 32px;
    background: rgba(255,255,255,0.10);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.container .header-form{
    color:#BF0000;
    font-size: 30px;
    font-weight: 600;
    margin:0 0 35px 0;
    font-family: 'Montserrat' ,sans-serif;
}

.header-form img{
    height: 130px;
    width: auto;
    background-color: white;
    border-radius: 48%;
    border:solid white;
}

.field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    border-radius: 5px;
    background-color: white;
}

.field span{
    color: #222;
    width: 40px;
    line-height: 45px;
}

.field input{
    height: 100%;
    width: 100%;
    background: transparent ;
    border:none;
    outline:none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}


.show{
    position: absolute;
    right: 13px;
    overflow: visible;
    font-size: 13px;
    font-weight: 700;
    color:#222;
    cursor:pointer;
    display: none;
    font-family: 'Montserrat',sans-serif;
}

.password:valid ~ .show{
    display: block;
}

.space{
    margin-top: 16px;
}

.forgot-pass{
    text-align: right;
    margin: 13px 0px;
}

.forgot-pass a{
    color: white;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
}

.forgot-pass:hover a{
    text-decoration: underline;
}

input[type="submit"]{
    background: #BF0000;
    border: 1px solid #2691;
    color: black;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor:pointer;
    font-family: 'Montserrat',sans-serif;
}

input[type="submit"]:hover{
    background: #BF0000;
}


.signup{
    color: white;
    font-size:  15px;
    font-family: 'Poppins',sans-serif;
    margin-top: 30px;
}

.signup a{
    color: #3498db;
    text-decoration: none;
}

.signup a:hover{
    text-decoration: underline;
}
